.moviesCardList {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.moviesCardList__gallery {
    list-style: none;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 60px;
    column-gap: 30px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 28px;
}

.moviesCardList__showmore {
    border-radius: 6px;
    background: #F9F9F9;
    border: none;
    color: #000;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 320px;
    align-self: center;
    padding: 9px 60px;
    transition: opacity .4s;
    cursor: pointer;
    margin-top: 50px;
}

.moviesCardList__showmore:hover {
    opacity: .7;
}

@media screen and (max-width: 920px) {
    
    .moviesCardList__gallery {
        row-gap: 45px;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .moviesCardList__showmore {
        margin-top: 60px;
        padding-top: 11px;
    }
}

@media screen and (max-width: 760px) {
    .moviesCardList {
        margin-top: 50px;
    }

    .moviesCardList__gallery {
        row-gap: 36px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 0;
        margin-bottom: 0px;
    }

    .moviesCardList__showmore {
        width: 240px;
        padding: 9px 20px;
        padding-top: 11px;
    }

}