.moviesCard {
    list-style: none;
    min-height: 201px;
    min-width: 320px;
    width: calc((100% - 200px) / 3);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.moviesCard__block {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 8px;
}

.moviesCard__image {
    cursor: pointer;
    width: 100%;
    height: 201px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.moviesCard__button {
    position: absolute;
    top: 14px;
    right: 14px;
    outline: none;
    border: none;
    transition: opacity .5s;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}


.moviesCard__button_type_notsaved {
    border-radius: 30px;
    background-color: #F9F9F9;
    width: 72px;
    height: 21px;
    transition: opacity .4s;
    color: #000;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 9px;
    padding: 6px 7px;
}

.moviesCard__button_type_saved {
    background-image: url(../../images/savedButton.svg);
    background-color: transparent;
    width: 21px;
    height: 21px;
}

.moviesCard__button_type_remove {
    background-image: url(../../images/removeButton.svg);
    background-color: transparent;
    width: 21px;
    height: 21px;
}

.moviesCard__button:hover {
    opacity: .7;
}


.moviesCard__container {
    margin: 12px 14px 0 14px;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    gap: calc(100% - 90%);
}

.moviesCard__name {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    overflow: hidden;
    margin: 0;
    width: calc(100% - 30%);
}

.moviesCard__length {
    justify-self: end;
    border-radius: 3px;
    padding: 3px 4px;
    background-color: #F9F9F9;
    color: #A0A0A0;
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    height: 12px;
    margin: 0;
}

@media screen and (max-width: 1000px) {
    .moviesCard {
        /* width: 339px; */
        width: calc((100% - 90px) / 2);
    }

    .moviesCard__image {
        height: 190px;
    }

    .moviesCard__container {
        margin-top: 0;
        padding-top: 25px;
        margin-left: 0;
        margin-right: 0;
    }

    .moviesCard__name {
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
}

@media screen and (max-width: 760px) {

    .moviesCard__image {
        height: 168px;
    }

    .moviesCard__button {
        top: 10px;
        right: 10px;
    }

    .moviesCard__container {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        padding-top: 16px;
    }
    
    .moviesCard__name {
        font-size: 12px;
    }

    .moviesCard__length {
        padding: 3px 4px;
    }
}

@media screen and (max-width: 600px) {
    .moviesCard {
        /* width: 300px; */
        width: calc((100% - 60px) / 2);
    }
}

@media screen and (max-width: 530px) {
    .moviesCard {
        width: 300px;
    }
}