.header {
    display: flex;
    max-width: 1280px;
    min-height: 74px;
    background-color: #FFF;
    margin: 0 auto;
}

.header_pink {
    background-color: #F3C1F8;
}

.header_disabled {
    display: none;
}

.header__logo {
    max-width: 38px;
    margin-top: 18px;
    object-fit: cover;
    margin-left: 70px;
    transition: opacity .5s;
}

.header__logo:hover {
    opacity: .7;
}


@media screen and (max-width: 920px) {
    .header__logo {
        margin-left: 30px;
    }
}

@media screen and (max-width: 500px) {
    .header__logo {
        margin-left: 14px;
    }
}