.burger-menu {
    display: none;
}



@media screen and (max-width: 800px) {

    .burger-menu {
        display: flex;
        width: 100%;
        position: relative;
        align-items: center;
        justify-content: end;
    }

    .burger-menu__container {
        display: flex;
        width: 100%;
        height: 100vh;
        position: fixed;
        background-color: rgba(0, 0, 0, 50%);
        visibility: hidden;
        transition: visibility 0s, opacity 0.5s;
        z-index: 2;
        top: 0;
        left: 0;
    }

    .burger-menu__container_active {
        visibility: visible;
    }

    .burger-menu__nav {
        list-style: none;
        z-index: 1;
        width: 520px;
        background-color: white;
        position: fixed;
        height: 100vh;
        display: grid;
        top: 0;
        right: 0;
        padding: 0;
        margin: 0;
        grid-template-columns: auto;
        grid-template-rows: min-content min-content min-content auto;
        row-gap: 29px;
        justify-content: center;
        justify-items: center;
        padding-top: 131px;
    }

    .burger-menu__nav_inactive {
        display: none;
    }

    .burger-menu__toggler {
        display: none;
    }

    .burger-menu__toggler_active {
        display: flex;
        background-color: transparent;
        border: none;
        padding: 0;
        background-image: url(../../images/burgerMenuNav.svg);
        width: 44px;
        height: 44px;
        align-self: center;
        cursor: pointer;
        transition: opacity .4s;
        align-items: center;
        justify-content: end;
        margin-top: 15px;
    }

    .burger-menu__toggler:hover {
        opacity: .7;
    }

    .burger-menu__cross {
        display: flex;
        padding: 0;
        background-color: transparent;
        border: none;
        position: absolute;
        background-image: url(../../images/burgerMenuCross.svg);
        width: 31px;
        height: 31px;
        background-size: cover;
        top: 22.4px;
        right: 22.4px;
        cursor: pointer;
        transition: opacity .4s;
    }

    .burger-menu__cross:hover {
        opacity: .7;
    }

    .burger-menu__link {
        color: #000;
        text-decoration: none;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 0;
        margin: 0;
    }

    .burger-menu__link_active {
        text-decoration-line: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 4px;
    }

    .burger-menu__link-profile {
        display: flex;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        justify-items: center;
        align-items: center;
        padding-top: 36vh;
    }

    .burger-menu__link-profile-button {
        text-decoration: none;
        border: none;
        border-radius: 6px;
        background-color: #F9F9F9;
        width: 30px;
        height: 30px;
        margin-left: 13px;
        text-align: center;
    }

    .burger-menu__link-profile-logo {
        max-width: 10.5px;
        cursor: pointer;
    }
}

@media screen and (max-width: 520px) {
    .burger-menu__nav {
        width: 100%;
        row-gap: 25px;
        padding-top: 120px;
    }

    .burger-menu__toggler_active {
        width: 40px;
        height: 43px;
    }

    .burger-menu__cross {
        top: 13.4px;
        right: 13.4px;
    }

    .burger-menu__link_active {
        text-underline-offset: 7px;
    }
}