.navtab {
    display: flex;
    background-color: #000;
    max-width: 1280px;
    min-height: 66px;
    justify-content: center;
}

.navtab__list {
    display: flex;
    list-style: none;
    column-gap: 40px;
    margin: auto;
    padding: 0;
}

.navtab__link {
    text-decoration: underline;
    color: white;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    transition: opacity .5s;
}

.navtab__link:hover {
    opacity: .7;
}

@media screen and (max-width: 500px) {
    .navtab__list {
        gap: 24px;
    }
    .navtab__link {
        font-size: 11px;
    }
}